.chart {
  height: 200px;
  margin: auto;
  padding: 8px 0;
  border-radius: 12px;
  color: #47a2fc;
  /* background-color: #F6AE2D; */
}

.comp-table {
  overflow-x: auto;
  /* table-layout: fixed; */
}

.comp-table th,
td {
  padding: 4px;
}

.comp-table thead tr > th {
  text-wrap: nowrap;
  background-color: #007bff !important;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

.comp-table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.comp-table tr {
  background-color: #f5f5f5;
}

/* Common styling for all rows */
.comp-table tr.mat-row {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: #c0c0c0;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

/* Vulnerable rows: red border and background */
.comp-table tr.vulnerable-row {
  /* border: 1px solid #dc3545; Red border */
  /* background-color: #fdd3e7; Light red bg */
  /* box-shadow: 0 0 5px rgba(220, 53, 69, 0.3); Soft red shadow */
  border: 1px 0px solid #f86db3;
}

.comp-table tr.vulnerable-row:hover {
  /* background-color: #feb2d8; Darker red on hover */
  background-color: #fdd3e7; /* Lighter red on hover */
  box-shadow: 0 0 8px rgba(220, 53, 69, 0.5); /* Stronger shadow on hover */

}

.comp-table tr.normal-row:hover {
  background-color: #dad7d7; /* Pale grey on hover */
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-danger {
  background-color: #fdd3e7 !important;
}

.page-size-width {
  width: 100px;
}

.comp-search-field {
  outline: none;
}

.page-custom-btn {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.page-custom-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.text-center {
  text-align: center;
}

.fs-5 {
  font-size: 1.25rem;
}

.machine{
  color: rgb(245, 114, 104);
}

/* Buttons for severity*/
.custom-low:hover, .custom-low:focus {
  background-color: #33658A !important;
  color: white !important;
}

.custom-medium:hover, .custom-medium:focus {
  background-color: #86BBD8 !important;
  color: white !important;
}

.custom-high:hover, .custom-high:focus {
  background-color: #F6AE2D !important;
  color: white !important;
}

.custom-critical:hover, .custom-critical:focus {
  background-color: #F26419 !important;
  color: white !important;
}

::ng-deep .mat-mdc-header-cell,
::ng-deep .mat-mdc-cell {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  /* font-size: 13px; Optional: smaller font */
  /* line-height: 1.2; Optional: tighter spacing */
}

::ng-deep .mat-mdc-row,
::ng-deep .mat-mdc-header-row {
  height: 44px !important;
  /* min-height: 480px !important; */
}

/* Base styles for all severity buttons */
.severity-btn {
  border: 1px solid #ccc;
  color: black;
  background-color: white;
  transition: background-color 0.2s, color 0.2s;
}

/* ACTIVE Styles */
.active-critical {
  background-color: #F26419 !important;
  color: white !important;
}

.active-high {
  background-color: #F6AE2D !important;
  color: white !important;
}

.active-medium {
  background-color: #86BBD8 !important;
  color: white !important;
}

.active-low {
  background-color: #33658A !important;
  color: white !important;
}

.active-all {
  background-color: #007bff !important;
  color: white !important;
}

/* Optional: Add hover effects */
.severity-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.text-warning {
  color: #ffc107; /* Yellow color for shield_question icon */
  font-size:large;
  vertical-align: middle;
}
/* .severity-btn.active-unresolved {
  border: 2px solid #000;
  background-color: #ffc107;
  color: white;
} */
 .comp-table tr.unresolved-row:hover {
  background-color: #fff3cd !important; /* Light yellow background */
}



.label {
  font-weight: bold;
  /* margin-right: 0px; */
  color: #6c757d;
  /* background-color: #007bff; */
  display: inline-block; /* Ensure label stays inline */
  white-space: nowrap;   /* Prevent line break in label */
  /* padding: 4px 8px; */
  /* border-radius: 4px; */
}

.value {
  word-break: break-all; /* Allow long strings to wrap */
  overflow-wrap: anywhere;
  font-size: 14px;
  color: #0d6efd;
  flex: 1;
}
.text-blue-theme {
  color: #3366ffe7;
}

