<h2 mat-dialog-title>Likely CPEs Model</h2>
<mat-dialog-content style="max-height: 400px; overflow-y: auto;">
  <div class="mb-2">
    <input #cpeInput type="text" [(ngModel)]="customCpeName" placeholder="Enter CPE Name (e.g., cpe:2.3:a:vendor:product:version:*:...)" class="form-control" />
    <div *ngIf="cpeError" class="text-danger">
      Invalid CPE format. Eg : cpe:2.3:a:vendor:product:version:*:... <!--Eg cpe:2.3:[aho](:[^:]*){{ '{' }}10{{ '}' }}$-->
    </div>
    <button mat-raised-button color="primary" (click)="addCpeName()" class="mt-2">Add</button>
  </div>
  <div *ngFor="let cpe of likelyCpeNames" class="d-flex align-items-center mb-2">
    <span class="flex-grow-1">{{ cpe.cpe23Uri }}</span>
    <button mat-raised-button color="primary" (click)="addCpeName(cpe.cpe23Uri)" class="ms-2">Add</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>