<mat-sidenav-container class="sidenav-container" role="region" aria-label="Main application layout">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    [position]="sidenavPosition"
    class="sidenav"
    [ngClass]="{ 'mini-sidenav': isMobile || isMiniSidenav }"
    role="navigation"
    aria-label="Main navigation menu"
  >
    <mat-toolbar role="banner"  class="p-0" aria-label="Application header">
      <div class="w-100 px-2">
      <img src="images/isteer.png" height="50px" alt="iSteer logo">
      </div>
    </mat-toolbar>
    <mat-nav-list (mouseleave)="onMouseLeave()" [ngClass]="hoverState" role="list" class="d-flex flex-column align-items-center p-0 nav-list bg-white">
        <a [routerLink]="[item.link]" *ngFor="let item of sideMenuItems" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }" class="container-fluid menu-item menu-link text-dark rounded-0 py-2 text-decoration-none">
        <div class="menu-name d-flex align-items-center"><span class="material-symbols-outlined">{{item.icon}}</span>&nbsp;&nbsp; <span class="menu-title text-nowrap">{{item.title}}</span></div></a>
        <div class="sidemenu-expand">
        <!-- <div class="py-2 expand-arrow-container" [ngClass]="{'justify-content-center': !isMiniSidenav, 'justify-content-end': isMiniSidenav}" click="toggleSubMenu()">
          <button (click)="expandSidenav()" *ngIf="!isMiniSidenav" class="btn expand-btn d-flex justify-content-center p-2 rounded-circle">
        <mat-icon class="material-symbols-outlined">
          arrow_forward_ios
        </mat-icon>
        </button>
        <button (click)="expandSidenav()" *ngIf="isMiniSidenav" class="btn expand-btn d-flex justify-content-center p-2 rounded-circle">
        <mat-icon class="material-symbols-outlined">
          arrow_back_ios
        </mat-icon>
        </button>
        </div> -->
        </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content #matSideNavContent class="sidenav-content" role="main" aria-label="Main content">
    <div class="d-flex flex-column">

    <mat-toolbar role="toolbar" class="sticky-top z-index-high" aria-label="Content toolbar">
      <mat-icon *ngIf="isMobile" class="material-symbols-outlined me-2" (click)="toggleSidenavMode()">menu</mat-icon>
      <div class="w-100 d-flex justify-content-between">
      <strong class="h4 text-center dash-heading-text">Vulnerability Monitoring System</strong>
      <button *ngIf="urlMatch" class="d-flex align-items-center btn btn-border-none btn-primary p-1 me-2" (click)="syncSecurityData()" matTooltip="Sync Security Data">
        <span class="material-symbols-outlined text-white" style="font-size: 20px;">sync</span>
        <span>Sync Now</span>
      </button>
      </div>
    </mat-toolbar>

    <!----------------dashboard-section--------------------->
    <div class="container-fluid">
    <div>
    <router-outlet></router-outlet>
    </div>
    </div>
    <!----------------dashboard-section-end-------------------->


    </div>
  
  </mat-sidenav-content>
</mat-sidenav-container>