.sidenav-content {
    height: 100vh;
}
.sidenav{
    width: 5%;
}
.menu-item:hover{
   background-color: #ddd !important;
}
.active-link {
  background-color: #eee !important;
  font-weight: bold;
  border-right: 4px solid rgb(20, 136, 245);
}
.dash-heading-text {
    color: #2899db;
}
.z-index-high {
   z-index: 9999;
}
.mini-sidenav {
    width: 250px;
    padding: 0;
    
}
.menu-item {
    outline: 0;
}
