.success-toast {
    background-color: rgb(184, 226, 188) !important;
    /* border: 1px solid rgb(127, 252, 127); */
}
.bg-success-toast {
    background-color: rgb(184, 226, 188) !important;
}
.toast {
    box-shadow: none !important;
}
.text-dark-green {
    color: rgb(18, 75, 18);
}
.toast-heading-font {
    font-family: sans-serif;
}
.text-success {
    color: rgb(1, 97, 1) !important;
}

.error-toast {
    background-color: rgb(238, 187, 187) !important;
    /* border: 1px solid rgb(255, 201, 201) !important; */
}
.bg-error-toast {
    background-color: rgb(238, 187, 187) !important;
}
