<div class="toast show success-toast">
  <div class="d-flex">
  <div class="col-2 d-flex justify-content-center align-items-center">
     <span class="material-symbols-outlined text-success fs-1">
    check
    </span>
  </div>
  <div class="col-10">
    <div class="toast-header border-0 bg-success-toast">
      <strong class="me-auto text-success">Success</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body text-success py-1">
      <p class="fnw-medium">{{data.message}}</p>
    </div>
    </div>
    </div>
  </div>