<div class="toast show error-toast">
  <div class="d-flex">
  <div class="col-2 d-flex justify-content-center align-items-center">
    <span class="material-symbols-outlined text-danger fs-1">
     error
    </span>
  </div>
  <div class="col-10">
    <div class="toast-header border-0 bg-error-toast">
      <strong class="me-auto text-danger">Error</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body text-danger py-1">
      <p>{{data.message}}</p>
    </div>
    </div>
    </div>
  </div>