::ng-deep .mat-dialog-title {
  margin: 0 !important;
  font-size: 1.1rem;
  line-height: 0.1;
}

::ng-deep mat-dialog-actions {
  margin: 0 !important;
  padding: 0 !important;
}

.heading{
    color: rgb(243, 141, 16);
}

.head{
  background-color: #f9f5f5;

}

input:focus, textarea:focus, select:focus {
  outline: none;              /* Removes the blue glow */
  box-shadow: none;           /* Removes the focus shadow */
  border: 1px solid #ccc;     /* Keeps a simple border */
}


input{
    width: 70%;
}
.cpe23Uri:hover{
   background-color: #f9f5f5;
    cursor: pointer;
}

p{
  font-size: 14.5px;
}

.valid-input {
  border: 2px solid #28a745 !important; /* Green border for valid input */
}

.invalid-input {
  border: 2px solid #dc3545 !important; /* Red border for invalid input */
}

.checkmark-icon {
  position: absolute;
  right: 80px; 
  top: 50%;
  transform: translateY(-50%);
  color: #28a745; 
  font-size: 20px;
}
.error-message {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


button[mat-raised-button] {
  background-color: #1976d2; /* Default Material primary color */
  color: white;
}

button[mat-raised-button]:hover {
  background-color: #155a9c;

}


.cpe-row {
  display: grid;
  grid-template-columns: 1fr auto; /* CPE name takes remaining space, button is auto-sized */
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}

.cpe-row:hover {
  background-color: #f9f5f5;
  /* cursor: pointer; */
}

.cpe-name {
  word-break: break-word;
  font-size: 14px;
  padding-right: 10px;
}

.cpe-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .cpe-row {
    grid-template-columns: 1fr auto; /* Keep layout same, allow text wrapping */
  }

  .cpe-name {
    max-width: 100%;
  }
}
