
<div class="d-flex justify-content-between align-items-center px-3 py-2 head">
  <h2 class="m-0 fs-5 ">
    Likely CPEs Model for <span class="heading">"{{ data.softwareName }}"</span>
  </h2>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>

<mat-dialog-content class="px-3 pt-2 pb-3" style="max-height: 400px; overflow-y: auto;">
  <div class="mb-3">
     <p>Please select the most appropriate CPE name from the list. If no match found, enter the CPE manually.</p>
    <div class="d-flex gap-2 align-items-start justify-content-between position-relative"> 
      <input
        #cpeInput
        type="text"
        [(ngModel)]="customCpeName"
        (ngModelChange)="validateCpeInput()"
        (keyup)="onEnterKey($event)"
        placeholder="Enter CPE Name "
        class="form-control"
        [ngClass]="{'valid-input': isValidCpe, 'invalid-input': cpeError}"
      />
      <mat-icon *ngIf="isValidCpe" class="material-icons checkmark-icon">check_circle</mat-icon>
      <button mat-raised-button color="primary" (click)="addCpeName()" *ngIf="isValidCpe">Add</button>
    </div>
    <p *ngIf="cpeError" class="text-danger mt-1">
      Invalid CPE format. Eg: cpe:2.3:a:microsoft:edge:138.0.3351.77:*:*:*:*:*:*:*
    </p>
  </div>

  <div *ngIf="!cpeLoadingComplete && likelyCpeNames.length === 0" class="text-center bg-info">No likely CPEs found</div>

  <!-- <div *ngFor="let cpe of likelyCpeNames" class="d-flex align-items-center mb-2 cpe23Uri">
    <span class="flex-grow-1 px-3 ">{{ cpe.cpe23Uri }}</span>
    <button mat-raised-button color="primary" (click)="addCpeName(cpe.cpe23Uri)" class="ms-2">Add</button>
  </div> -->
  <div *ngFor="let cpe of likelyCpeNames" class="cpe-row mb-2">
  <div class="cpe-name">{{ cpe.cpe23Uri }}</div>
  <div class="cpe-action">
    <button mat-raised-button color="primary" (click)="addCpeName(cpe.cpe23Uri)">Add</button>
  </div>
</div>

</mat-dialog-content>
<footer class="p-1"></footer>

