/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, button, input, textarea, mat-card, mat-toolbar {
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

html, body { height: 100%; margin: 0; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.cursor-pointer {
    cursor: pointer;
}
.caption-top {
    caption-side: top;
}
.fnw-bold {
    font-weight: 900;
}
.text-black-shade {
    color: rgb(44, 44, 44);
}
.bg-theme {
    background-color: rgb(235, 242, 243);
}
.bg-gray-shade {
  background-color: #f5f5f5;
}

::ng-deep .vuln-dialog-panel {
  max-width: 90vw !important;
  width: 90vw !important;
  max-height: 90vh !important;
  height: auto !important;
}

mat-sidenav-content {
  background-color: #ffffff;
}
.mat-mdc-snackbar-surface, .mdc-snackbar__surface {
  background-color: white !important;
  padding: 0 !important;
  box-shadow: none !important;
  animation: toast ease !important;
}
.mat-mdc-snack-bar-label,.mdc-snackbar__label {
  padding: 0 !important;
  box-shadow: none !important;
  animation: toast ease !important;
}
.mat-mdc-snackbar-surface {
  animation: toast 5.3s ease !important;
}
.inner-toast {
  animation: toast ease !important;
}

.fnw-medium {
  font-weight: 500;
}

.word-break {
  word-break: break-all;
}
.toast-container {
  position: fixed !important;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.toast-animate {
  animation: toast 5.3s ease;
}
.toast-animate:hover {
  animation-play-state: paused;
}
.toast-hide {
  animation: toasthide .2s ease !important;
  transform-origin: top;
}

@keyframes toasthide {
  0% {
    transform: scaleY(1) translateY(0);
    opacity: 1;
    height: 70px;
  }
  30% {
    transform: scaleY(0.9) translateY(-5px);
    opacity: 0.9;
  }
  60% {
    transform: scaleY(0.5) translateY(-10px);
    opacity: 0.5;
  }
  80% {
    transform: scaleY(0.2) translateY(-15px);
    opacity: 0.3;
  }
  100% {
    transform: scaleY(0) translateY(-20px);
    opacity: 0;
    height: 0;
  }
}


/* @keyframes toasthide {
  0% {
  
    height: 70px;
  }
  10%{
    height: 65px;
  }
  20% {
    height: 60px;
  }
  30% {
    height: 55px;
  }
  50% {
    height: 50px;
  }
  60% {
    height: 45px;
  }
  70% {
    height: 40px;
  }
  75% {
    height: 30px;
  }
  85% {
    height: 20px;
  }
  95% {
    height: 10px;
  }
  100% {
    
    height: 0px;
  }
} */

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(70px);
  }
}