/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, button, input, textarea, mat-card, mat-toolbar {
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

html, body { height: 100%; margin: 0; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.cursor-pointer {
    cursor: pointer;
}
.caption-top {
    caption-side: top;
}
.fnw-bold {
    font-weight: 900;
}
.text-black-shade {
    color: rgb(44, 44, 44);
}
.bg-theme {
    background-color: rgb(235, 242, 243);
}
.bg-gray-shade {
  background-color: #f5f5f5;
}

::ng-deep .vuln-dialog-panel {
  max-width: 90vw !important;
  width: 90vw !important;
  max-height: 90vh !important;
  height: auto !important;
}

mat-sidenav-content {
  background-color: #ffffff;
}
.mat-mdc-snackbar-surface, .mdc-snackbar__surface {
  background-color: white !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.mat-mdc-snack-bar-label,.mdc-snackbar__label {
  padding: 0 !important;
  box-shadow: none !important;
}
.inner-toast {
  animation: toast ease !important;
}

.fnw-medium {
  font-weight: 500;
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(70px);
  }
}