.dashboard-container {
  padding: 8px;
}

.dashboard-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  mat-card{
    background-color: white;
  }
}

.section-card {
  flex: 1 1 45%;
  padding: 8px;
}

.section-card-appdata {
  flex: 1 1 100%;
}

.section-row {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.section-item {
  flex: 1;
  text-align: center;
  color: black;
}
.chart {
  height: 250px;
  margin: auto;
  padding: 8px;
  border-radius: 12px;
  color: #47a2fc; 
}
.comp-table {
  width: 100%;
  table-layout: fixed;
}
.comp-table th,td {
  padding: 4px 0;
}
.comp-table thead tr > th{
   text-wrap: nowrap;
   background-color: #007bff !important;
}
.gen-info-table tbody tr > th{
   text-align: right;
}
@media (max-width: 768px) {
  .section-card {
    flex: 1 1 100%;
  }
}
