<!-- Parent Container -->
<div class="dashboard-container">

  <!-- First Row -->
  <div #firstRow class="dashboard-row bg-light">

    <!-- Computer Section -->
    <mat-card class="section-card">

      <div class="section-row bg-dark"><!----first-row---->
        
        <div class="section-item">  <!----chart-section------->
            <div class="chart">
              <canvas #computerChart></canvas>
            </div>
        </div> <!----chart-section-end------>

         <div class="section-item d-flex align-items-center">
          <table class="gen-info-table table table-borderless table-dark">
            <tbody>
              <tr>
                <th>Total Computers :</th>
                <td>{{totalComputers}}</td>
              </tr>
              <tr>
                <th>Vulnerable Computers :</th>
                <td>{{vulnerableComputers}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!----first-row-end--->

      <div style="overflow: auto;"> <!------------computer-data-table------------>
             <div class="p-2">
                  <div class="d-flex justify-content-between">
                    <span class="text-black fs-5 fnw-bold">{{showVulnerableComputer ? 'Vulnerable Computers' : 'Total Computers'}}</span> 
                  <div>
                    <mat-slide-toggle [(ngModel)]="showVulnerableComputer" (click)="toggleVulnerableComputers()">Vulnerable</mat-slide-toggle>
                  </div>
                  </div>
                  <table class="comp-table">
                    <thead>
                      <tr>
                        <th>Ip Address</th>
                        <th>Machine Name</th>
                        <th>Os Version</th>
                        <th>Antivirus Status</th>
                        <th>Firewall Status</th>
                        <th>LoggedIn User</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let computer of finalComputerDetails">
                      <td>{{computer.ipAddress}}</td>
                      <td>{{computer.machineName}}</td>
                      <td>{{computer.osVersion}}</td>
                      <td>{{computer.antivirusStatus}}</td>
                      <td>{{computer.firewallStatus}}</td>
                      <td>{{computer.loggedInUser}}</td>
                      <td><mat-icon class="material-symbols-outlined cursor-pointer" (click)="sendAppData(computer)" matTooltip="View Applications">visibility</mat-icon></td>
                      </tr>
                    </tbody>
                  </table>
             </div>
        </div> <!------------computer-data-table-end----------->
    </mat-card>

    <!-- Application Section -->
    <mat-card class="section-card">
      <!-- Application Content Here -->
    </mat-card>

  </div>

</div>
